{% extends "taskManager/base.html" %}
{% block content %}

     <div class="container" style="padding-top: 5%;">
        <h1>Add Task</h1>
    </div>
    <div class="container">

    <form method="post">
    {% csrf_token %}
    {{ form }}
         <div class="container text-end" style="padding-top: 30px;">
             <a class="btn btn-primary ms-md-2" role="button" href={% url 'taskManager:index' %} style="margin-right: 20px;background: var(--bs-red);">Cancel</a>
             <button class="btn btn-primary text-center" type="submit" style="background: var(--bs-orange);">Submit</button>
         </div>

</form>
    </div>
{% endblock %}